<p-button label="Add new movie" (onClick)="addFilm()" style="margin-bottom: 5px"></p-button>

<p-table [value]="movies">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:15%">Film</th>
            <th>Description</th>
            <th style="width:20%">Link</th>
            <th style="width:7%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-movie>
        <tr>
            <td pEditableColumn style="width:15%">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="movie.title" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{movie.title}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn style="width:20%">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="movie.description" required>
                    </ng-template>
                    <ng-template pTemplate="output"> 
                        {{movie.description}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="movie.link" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <a [href]="movie.link">{{movie.link}}</a>
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="width:7%">
                <p-button icon="pi pi-check" style="margin: 2px" (onClick)="watchFilm(movie)"> </p-button>
                <p-button icon="pi pi-star" style="margin: 2px" (onClick)="addToFavorite(movie)"> </p-button>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-button label="Apply" (onClick)="batchUpdateMovies()" style="margin-top: 5px"> </p-button>
