<p-table [value]="movies">
    <ng-template pTemplate="caption">
        Movies
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:15%">Movie</th>
            <th>Description</th>
            <th style="width:20%">Link</th>
            <th style="width:7%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-movie>
        <tr>
            <td pEditableColumn style="width:15%">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="movie.title" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{movie.title}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn style="width:20%">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="movie.description" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{movie.description}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="movie.link" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <a [href]="movie.link">{{movie.link}}</a>
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="width:7%">
                <div style="text-align:left">
                    <button *ngIf="!movie.isWatched" style="margin:5px" type="button" pButton icon="pi pi-check"
                        (click)="watchMovie(movie)"></button>
                    <button *ngIf="movie.isWatched" style="margin:5px" type="button" pButton icon="pi pi-refresh"
                        (click)="reWatchMovie(movie)"></button>
                    <button style="margin:5px" type="button" pButton icon="pi pi-star"
                        (click)="addToFavorite(movie)"></button>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button style="padding: 5px; margin:5px" type="button" pButton icon="pi pi-plus" (click)="addMovie()"
                label="Add"></button>
            <button style="padding: 5px; margin:5px" type="button" pButton icon="pi pi-save" (click)="save()"
                label="Save"></button>
        </div>
    </ng-template>
</p-table>