<p-button label="Add new book" (click) = "addBook()"></p-button>

<p-table [value]="books">
    <ng-template pTemplate="header">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th style="width:7%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book>
        <tr>
            <td> {{ book.title }} </td>
            <td> {{ book.author }} </td>
            <td> {{ book.description }} </td>
            <td style="width:7%">
                <p-button (onClick) = "readBook(book)" icon="pi pi-check" > </p-button>
                <p-button (onClick) = "addToFavorite(book)" icon="pi pi-star" > </p-button>
            </td>
        </tr>
    </ng-template>
</p-table> 
<p-button label="Save 111" icon="fa fa-check" iconPos="left" (click) = "updateBooks()"> </p-button>
