<!-- <div class="ui-g">
    <div class="box">
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click1()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click2()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click3()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click4()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click5()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click6()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click7()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click8()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click9()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click10()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click1()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click2()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click3()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click4()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click5()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click6()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click7()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click8()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click9()"></button></div>
        <div> <button style="margin:5px" type="button" pButton icon="pi pi-star" (click)="click10()"></button></div>
    </div>
    <div class="ui-g">
        About
    </div>
</div>
<div class="ui-g"> {{clikedItem}}
</div> -->

<div >
    <div class="ui-g">
        <div class="ui-g-11 ui-g-nopad" style="padding: 10px">

            <div class="ui-g">
                <div style="padding: 10px" class="ui-g-8 ui-g-nopad">
                    <p-tabView>
                        <p-tabPanel header="first">
                        </p-tabPanel>
                        <p-tabPanel header="second">
                        </p-tabPanel>
                        <p-tabPanel header="third">
                        </p-tabPanel>
                        <p-tabPanel header="fourth">
                        </p-tabPanel>
                        <p-tabPanel header="fifth">
                        </p-tabPanel>
                        <p-tabPanel header="sixth">
                        </p-tabPanel>
                    </p-tabView>
                </div>
                <div class="ui-g-2 ui-g-nopad">
                    <p-button label="test"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>