<p-table [value]="serials">
    <ng-template pTemplate="caption">
        TV shows
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:15%">Title</th>
            <th>Description</th>
            <th style="width:10%">Season/Series</th>
            <th style="width:20%">Link</th>
            <th style="width:10%">Status</th>
            <th style="width:7%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-serial>
        <tr>
            <td style="width:15%">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="serial.title" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{serial.title}}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="serial.description" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{serial.description}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn style="width:10%">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="serial.season" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{serial.season}}
                    </ng-template>
                </p-cellEditor> /
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="serial.series" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{serial.series}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn style="width:20%">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="serial.link">
                    </ng-template>
                    <ng-template pTemplate="output">
                        <a [href]="serial.link">{{serial.link}}</a>
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn style="width:10%">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="serial.status">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{serial.status}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="width:7%">
                <div style="text-align:left">
                    <button *ngIf="!serial.isWatched" style="margin:5px" type="button" pButton icon="pi pi-check"
                        (click)="watchTVSeries(serial)"></button>
                    <button *ngIf="serial.isWatched" style="margin:5px" type="button" pButton icon="pi pi-refresh"
                        (click)="reWatchTVSeries(serial)"></button>
                    <button style="margin:5px" type="button" pButton icon="pi pi-star"
                        (click)="addToFavorite(serial)"></button>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button style="padding: 5px; margin:5px" type="button" pButton icon="pi pi-plus" (click)="addTVSeries()"
                label="Add"></button>
            <button style="padding: 5px; margin:5px" type="button" pButton icon="pi pi-save" (click)="save()"
                label="Save"></button>
        </div>
    </ng-template>
</p-table>