<p-button label="Add new TV series" (onClick)="addTVSeries()" style="margin-bottom: 5px"></p-button>

<p-table [value]="serials">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:15%">Title</th>
            <th >Description</th>
            <th style="width:10%">Season/Series</th>
            <th style="width:20%">Link</th>
            <th style="width:10%">Status</th>
            <th style="width:7%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-serial>
        <tr>
            <td style="width:15%">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="serial.title" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{serial.title}}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="serial.description" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{serial.description}}
                    </ng-template>
                </p-cellEditor> 
            </td>
            <td pEditableColumn style="width:10%">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="serial.season" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{serial.season}}
                    </ng-template>
                </p-cellEditor> /
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="serial.series" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{serial.series}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn style="width:20%">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="serial.link">
                    </ng-template>
                    <ng-template pTemplate="output">
                        <a [href]="serial.link">{{serial.link}}</a>
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn style="width:10%">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="serial.status">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{serial.status}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="width:7%">
                <p-button *ngIf = "serial.isWatched" style="margin: 2px" (onClick) = "watchTVSeries(serial)" icon="pi pi-check" > </p-button>
                <p-button *ngIf = "!serial.isWatched" style="margin: 2px" (onClick) = "reWatchTVSeries(serial)" icon="pi pi-refresh" > </p-button>
                <p-button icon="pi pi-star" (onClick)="addToFavorite(serial)"> </p-button>
            </td>
        </tr>
    </ng-template>
</p-table>

<button pButton type="button" label="Apply" (click)="batchUpdateTVSeries()" style="margin-top: 5px"></button>