<div style="text-align:center">

    <!-- <p-tabMenu [model]="items"></p-tabMenu> -->

    <button style="padding: 5px; margin:5px" type="button" pButton icon="pi pi-save" label="To Watch" (click)="toWatch()"></button>
    <button style="padding: 5px; margin:5px" type="button" pButton icon="pi pi-save" label="To Read" (click)="toRead()"></button>
    <button style="padding: 5px; margin:5px" type="button" pButton icon="pi pi-save" label="English" (click)="english()"></button>
    <button style="padding: 5px; margin:5px" type="button" pButton icon="pi pi-save" label="Favorite" (click)="favorite()"></button>
    <button style="padding: 5px; margin:5px" type="button" pButton icon="pi pi-save" label="About" (click)="about()"></button>
</div>
  
